/** @format */
/* Login Page */
.login-page {
  background: conic-gradient(
    from -89.75deg at 50% 50%,
    #1eadea -71.21deg,
    #7ef6ff 78.18deg,
    #77d2ed 144.78deg,
    #5bbce2 218.59deg,
    #1eadea 288.79deg,
    #7ef6ff 438.18deg
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.login-page .container {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
}
.login-page .container .logo-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.login-page .container .logo-container img {
  max-width: 200px;
}

.login-page .container .detail-tab {
  border-bottom: 1px solid #ddd;
  padding: 2.5rem;
}
.login-page .container .detail-tab .title {
  font-weight: bold;
  font-size: 1.8rem;
}
.login-page .container .detail-tab .desc {
  color: #77878f;
}

.login-page .container .form-container {
  padding: 1.5rem 2.5rem;
}

/* Navbar */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgb(201, 209, 232);
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
}

.navbar .right-div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar .right-div .ham-menu {
  display: none;
  cursor: pointer;
}
.navbar .right-div button {
  border: 1px solid rgb(52 183 193);
  padding: 10px 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgb(52 183 193);
}

.layout {
  display: flex;
}

.section-tab-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.section-tab {
  display: flex;
  flex-wrap: wrap;
}

.location-section {
  display: flex;
}

.location-section .map {
  flex: 1;
}

.report-cards .card img {
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px;
  object-fit: contain;
  object-position: center;
}

.menu-bar {
  width: 100%;
  height: 100%;
}
.menu-bar ul li {
  font-size: 16px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.menu-bar .close-icon {
  display: flex;
  justify-content: flex-end;
}
.menu-bar .close-icon i {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.sidebar-logo-img {
  width: 150px;
  cursor: pointer;
}

.sibebar-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sidebar-container {
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-heading {
  font-weight: 600;
  font-size: 28px;
}

.light-green-highlight-text {
  color: rgb(24 168 140);
  background-color: #32d29633;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  margin: auto;
  max-width: 100%;
  width: 100%;
}

.activate-btn {
  color: blue;
  text-decoration: underline;
  font-weight: 700;
}
.alert-date-filter {
  background-color: #f8faff;
}
.alert-date-filter .input-groups {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.alert-date-filter .input-groups .date {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f4f6;
  padding: 4px 15px;
  border-radius: 10px;
}
.alert-date-filter .input-groups .date span {
  font-weight: 600;
  font-weight: 12px;
}

.alert-date-filter .input-groups .date i.fa-xmark {
  color: #1890ff;
}
.custom-modal .ant-modal-content {
  background-color: #f8faff;
  border: 2px solid #1890ff;
}
.custom-modal .ant-modal-header {
  background-color: transparent !important;
}
.custom-modal .custom-date-picker {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.custom-modal .custom-date-picker .days-pickers {
  border-right: 2px solid #ddd;
  padding: 20px 0px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-modal .custom-date-picker .days-pickers .item {
  background-color: #e8f4ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.custom-modal .custom-date-picker .days-pickers .item .selected {
  margin: 0;
  color: #1890ff;
  font-weight: 600;
  font-size: 12px;
}
.custom-modal .custom-date-picker .days-pickers .item .normal {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
}
.custom-modal .custom-date-picker .react-datepicker {
  background-color: transparent;
  width: 100%;
  flex: 1;
  border: none;
  font-size: 12px;
  font-weight: 600;
}
.custom-modal .custom-date-picker .react-datepicker__header {
  background-color: transparent;
  border: none;
}
.custom-modal .custom-date-picker .react-datepicker__month-container {
  width: 100%;
}
.custom-modal .custom-date-picker .react-datepicker__day-name {
  font-weight: 600;
}
.custom-modal .custom-date-picker .react-datepicker__header {
  padding: 4px 0;
}
.custom-modal .apply-date-range-btn {
  background-color: #34b7c1;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  width: auto;
  display: block;
  margin: auto;
}

:where(.css-dev-only-do-not-override-d2lrxs).ant-dropdown,
:where(.css-dev-only-do-not-override-d2lrxs).ant-dropdown-menu-submenu {
  max-height: 300px !important;
  overflow: auto;
}
