/** @format */

.log_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(201, 209, 232);
}
.log_header .btn_container {
  display: flex;
  gap: 20px;
}

.drop_content {
  padding: 20px;
  background-color: #f3f5fb;
}

.drop_content .content {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.all_fields {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  width: 80%;
}
.signature_btn {
  width: 20%;
}
.chart {
  width: 100%;
}
.chart_container {
  width: 100%;
  position: relative;
  padding: 0 20px;
}

.main_chart_container {
  width: 100%;
  display: flex;
  gap: 10px;
}
.main_chart_container .chart_container {
  width: 97%;
}
.main_chart_container .time_container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-end;
}
.main_chart_container .time_container p {
  font-size: 12px;
  font-weight: 600;
}
.main_chart_container .time_container p.off_time {
  margin-top: 15px;
}
.main_chart_container .time_container p.sb_time {
  margin-bottom: 20px;
}
.main_chart_container .time_container p.d_time {
  margin-bottom: 30px;
}
.main_chart_container .time_container p.on_time {
  margin-bottom: 40px;
}

.date_handler .go_back {
  position: absolute;
  top: 45%;
  transform: translate(-50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  left: 0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date_handler .go_forward {
  position: absolute;
  top: 45%;
  transform: translate(-50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  right: 0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recap_div {
  background-color: #86e3ce;
  border: 1px solid #86e3ce;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}
.desc {
  font-size: 12px;
  font-weight: 600;
}

.title_feild {
  font-size: 14px;
  font-weight: 900;
  color: #000;
}
.value_field {
  font-size: 14px;
  font-weight: 900;
  color: #86e3ce;
}

@media (max-width: 768px) {
  .log_header {
    flex-direction: column;
    align-items: flex-start;
  }
  .log_header .btn_container {
    flex-wrap: wrap;
  }
  .content {
    flex-wrap: wrap;
  }
  .all_fields {
    display: flex;
    flex-wrap: wrap;
  }
  .all_fields div {
    width: 100%;
  }
  .chart {
    width: 100%;
  }
  .recap_div {
    width: 100%;
  }
  .signature_btn{
    width: 100%;
  }
  .all_fields{
    width: 100%;
  }
}